[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AirMonitor"]
	path = AirMonitor
	url = https://github.com/mazamascience/airmonitor
[submodule "beakr"]
	path = beakr
	url = https://github.com/mazamascience/beakr
[submodule "MazamaCoreUtils"]
	path = MazamaCoreUtils
	url = https://github.com/mazamascience/mazamacoreutils
[submodule "MazamaLocationUtils"]
	path = MazamaLocationUtils
	url = https://github.com/mazamascience/mazamalocationutils
[submodule "MazamaRollUtils"]
	path = MazamaRollUtils
	url = https://github.com/mazamascience/mazamarollutils
[submodule "MazamaSpatialPlots"]
	path = MazamaSpatialPlots
	url = https://github.com/mazamascience/mazamaspatialplots
[submodule "MazamaSpatialUtils"]
	path = MazamaSpatialUtils
	url = https://github.com/mazamascience/mazamaspatialutils
[submodule "MazamaTimeSeries"]
	path = MazamaTimeSeries
	url = https://github.com/mazamascience/mazamatimeseries
[submodule "PWFSLSmoke"]
	path = PWFSLSmoke
	url = https://github.com/mazamascience/pwfslsmoke
